---
import Container from '@/components/Container.astro'
import { ExternalLinkIcon, Github } from 'lucide-react'
import Pill from '@/components/ui/pill.astro'

interface Technologies {
	text: string
	image: string
}

interface ProjectsCardProps {
	projectImage: string
	externalLink: string
	githubLink: string
	target?: string
	title: string
	subtitle: string
	description: string
	description2?: string
	technologies: Technologies[]
}

const { projectImage ,externalLink, githubLink, target,  title, subtitle, description, description2, technologies } = Astro.props as ProjectsCardProps
---

<section>
	<Container>
		<article class='w-full overflow-hidden rounded-lg bg-white text-black shadow-lg border-2 border-neutral-100'>
			<div class='flex flex-col md:flex-row'>
				<div class='w-full md:order-2 md:w-1/2'>
					<div class='h-64 md:h-full'>
						<img
							src={projectImage}
							alt=`Screenshot of ${title} project`
							class='h-full w-full object-cover select-none'
						/>
					</div>
				</div>
				<div class='w-full space-y-6 p-6 md:order-1 md:w-1/2'>
					<div class='flex items-center justify-start gap-4 pb-4'>
						<h2 class='text-3xl font-bold text-[#ffa84b] font-GilroyBold'>{title}</h2>
						<div class='flex items-center gap-4'>
							<div class='h-8 w-px bg-neutral-300'></div>
							<div class='flex gap-2'>
								<a href={githubLink} target={target} class='rounded-full p-2 transition-colors hover:bg-neutral-100'>
									<Github className='h-5 w-5 text-neutral-600' />
								</a>
								<a href={externalLink} target={target} class='rounded-full p-2 transition-colors hover:bg-neutral-100'>
									<ExternalLinkIcon className='h-5 w-5 text-neutral-600' />
								</a>
							</div>
						</div>
					</div>
					<p class='font-medium text-neutral-600 font-GilroySemibold'>
						{subtitle}
					</p>
					<p class='text-sm text-neutral-700 font-normal font-GilroyRegular'>
						{description}
					</p>
					<p class='text-sm text-neutral-700 font-normal font-GilroyRegular'>
						{description2}
					</p>
					<div class="flex flex-wrap gap-2">
						{technologies?.map((tech) => (
							<Pill text={tech.text} image={tech.image} class="flex-1 min-w-[calc(50%-0.5rem)] md:min-w-[calc(33%-0.5rem)]" />
						))}
					</div>
				</div>
			</div>
		</article>
	</Container>
</section>
