---
import Container from '@/components/Container.astro'
import GradualSpacing from '@/components/ui/gradual-spacing'
import ExperienceCard from './ExperienceCard.astro'
import { getI18N } from '@/i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Container>
	<div class='mb-8 flex h-10 items-center justify-center pt-10' id='experience'>
		<span class='font-GilroyBold text-2xl font-bold text-neutral-500 md:text-4xl'>01. &nbsp;</span>
		<GradualSpacing
			className='font-GilroyBold text-2xl font-bold text-black md:text-4xl'
			text=`${i18n.hero.WIW.title}`
			client:visible
		/>
		<span class='ml-[0.6em] mt-1 h-0.5 grow translate-y-full bg-neutral-400'></span>
	</div>
	<div class='pt-10'>
		<ol class='relative border-s-2 border-neutral-400'>
			<li class='mb-10 ms-4'>
				<div
					class='absolute -start-[6.5px] mt-1.5 h-3 w-3 rounded-full border border-white bg-[#ff5e69]'
				>
				</div>
				<ExperienceCard
					link='https://boxode.org'
					target='_blank'
					title=`${i18n.hero.WIW.card1.title}`
					location=`${i18n.hero.WIW.card1.location}`
					duration=`${i18n.hero.WIW.card1.duration}`
					ContainerStyles='md:hover:bg-[#ffe1e3]/50'
					textStyles='group-hover:text-[#ff5e69]'
					phase=`${i18n.hero.WIW.card1.phrase}`
					description=`${i18n.hero.WIW.card1.description1}`
					description2=`${i18n.hero.WIW.card1.description2}`
					technologies={[
						{ text: `${i18n.hero.WIW.card1.tech.resilience}`, image: '/svg/resilience.svg' },
						{ text: 'Next.JS', image: '/svg/nextjs.svg' },
						{ text: 'MongoDB', image: '/svg/mongodb.svg' },
						{ text: 'TypeScript', image: '/svg/typescript.svg' },
						{ text: 'ExpressJS', image: '/svg/expressjs.svg' },
					]}
				/>
			</li>
			<li class='mb-10 ms-4'>
				<div
					class='absolute -start-[6.5px] mt-1.5 h-3 w-3 rounded-full border border-white bg-[#b16cea]'
				>
				</div>
				<ExperienceCard
					phase={null}
					link={null}
					target={null}
					title='Servicio Técnico de Sistemas • CompuCel'
					location='Cuauhtémoc, ZAC, México • Presencial'
					duration='Noviembre 2022 - Febrero 2023 | Contrato Temporal'
					description='Durante mi tiempo como parte del equipo de soporte técnico, fui responsable de brindar asistencia a usuarios tanto en la resolución de problemas de software como en la configuración y mantenimiento de sistemas operativos y hardware. '
					description2='También desarrollé habilidades en la creación de documentación técnica, donde registraba incidencias y sus respectivas soluciones, lo que facilitó la resolución de problemas futuros para otros miembros del equipo. '
					ContainerStyles='md:hover:bg-[#f4eafd]/50'
					textStyles='group-hover:text-[#c38ff1]'
					technologies={[
						{ text: 'Resolución de Problemas', image: '/svg/wrench.svg' },
						{ text: 'Comunicación', image: '/svg/communication.svg' },
						{ text: 'Gestión del tiempo', image: '/svg/clock.svg' },
						{ text: 'Identificación del problema', image: '/svg/attention.svg' },
					]}
				/>
			</li>
			<li class='mb-10 ms-4'>
				<div
					class='absolute -start-[6.5px] mt-1.5 h-3 w-3 rounded-full border border-white bg-[#ffa84b]'
				>
				</div>
				<ExperienceCard
					phase={null}
					link={null}
					target={null}
					title='Becario de Desarrollo de Software • INBAC Instituto Niels Bohr'
					location='San Francisco de los Romo, AGS, México • Remoto'
					duration='Marzo 2022 - Agosto 2022 | Contrato Temporal'
					ContainerStyles='md:hover:bg-[#fff0d4]/50'
					textStyles='group-hover:text-[#ffa84b]'
					description='Este puesto fue uno de los primeros retos que se presentarón en mi camino al estar presentando mis prácticas profesionales, ya que se creo un sistema de control escolar para administrar mejor al personal que conforma la institución, así como también a los alumnos.'
					description2='Gracias a este proyecto que fue uno de los más complejos que realicé en ese tiempo, pude aprender y comprender más a profundidad el lenguange de programación PHP y JS. Así como también el uso de diferentes métodos en las bases de datos que sinceramente desconocia que, aunque las asesorias por medio de mi superior del proyecto eran prácticamente nulas, pude realizar este proyecto.'
					technologies={[
						{ text: 'Pensamiento Analítico', image: '/svg/brain.svg' },
						{ text: 'PHP', image: '/svg/php.svg' },
						{ text: 'MySQL', image: '/svg/mysql.svg' },
						{ text: 'JavaScript', image: '/svg/javascript.svg' },
					]}
				/>
			</li>
		</ol>
	</div>
</Container>
