---
import Arrow from './Arrow.astro'
import Pill from './ui/pill.astro'

interface Technologies {
	text: string
	image: string
}

interface Props {
	link: string
	target?: string
	title: string
	location: string
	duration: string
	description: string
	technologies: Technologies[]
}

const { link, target,  title, location, duration, description, technologies } = Astro.props
---

<article class='px-4'>
	<a href={link} target={target} class='block max-w-3xl hover:bg-[#f4eafd]/50 backdrop-blur transition-colors rounded-2xl border border-neutral-100'>
		<div
			class='bg-gray-900 hover:bg-gray-800 group relative overflow-hidden rounded-lg p-6 transition-all duration-300'
		>
			<div class='mb-2 flex items-center justify-between'>
				<h3
					class='text-yellow-400 pr-2 text-2xl font-bold transition-colors group-hover:text-[#c38ff1]'
				>
					{title}
				</h3>
				<Arrow
					class='text-yellow-400 h-6 w-6 flex-shrink-0 transition-all duration-300 group-hover:-translate-y-1 group-hover:translate-x-1 group-hover:text-[#ffa84b]'
				/>
			</div>
			<p class='text-gray-400 mb-4'>{location} | {duration}</p>
			<p class='text-gray-300 mb-4'>
				{description}
			</p>
			<div class='flex flex-wrap gap-2'>
				{technologies.map(tech => <Pill text={tech.text} image={tech.image} />)}
			</div>
		</div>
	</a>
</article>
