---
import Container from '@/components/Container.astro'
import ExperienceCard from '@/components/ExperienceCard.astro'
import GradualSpacing from '@/components/ui/gradual-spacing'
import { getI18N } from '@/i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Container>
	<div class='mb-8 flex h-10 items-center justify-center pt-10' id='experience'>
		<span class='font-GilroyBold text-2xl font-bold text-neutral-500 md:text-4xl'>01. &nbsp;</span>
		<GradualSpacing
			className='font-GilroyBold text-2xl font-bold text-black md:text-4xl'
			text=`${i18n.hero.WIW.title}`
			client:visible
		/>
		<span class='ml-[0.6em] mt-1 h-0.5 grow translate-y-full bg-neutral-400'></span>
	</div>
	<div class='pt-10'>
		<ol class='relative border-s-2 border-neutral-400'>
			<li class='mb-10 ms-4'>
				<div
					class='absolute -start-[6.5px] mt-1.5 h-3 w-3 rounded-full border border-white bg-[#ff5e69]'
				>
				</div>
				<ExperienceCard
					link='https://boxode.org'
					target='_blank'
					title=`${i18n.hero.WIW.card1.title}`
					location=`${i18n.hero.WIW.card1.location}`
					duration=`${i18n.hero.WIW.card1.duration}`
					ContainerStyles='md:hover:bg-[#ffe1e3]/50'
					textStyles='group-hover:text-[#ff5e69]'
					phase=`${i18n.hero.WIW.card1.phrase}`
					description=`${i18n.hero.WIW.card1.description1}`
					description2=`${i18n.hero.WIW.card1.description2}`
					technologies={[
						{ text: `${i18n.hero.WIW.card1.tech.tech1}`, image: '/svg/resilience.svg' },
						{ text: 'Next.JS', image: '/svg/nextjs.svg' },
						{ text: 'MongoDB', image: '/svg/mongodb.svg' },
						{ text: 'TypeScript', image: '/svg/typescript.svg' },
						{ text: 'ExpressJS', image: '/svg/expressjs.svg' },
					]}
				/>
			</li>
			<li class='mb-10 ms-4'>
				<div
					class='absolute -start-[6.5px] mt-1.5 h-3 w-3 rounded-full border border-white bg-[#b16cea]'
				>
				</div>
				<ExperienceCard
					phase={null}
					link={null}
					target={null}
					title=`${i18n.hero.WIW.card2.title}`
					location=`${i18n.hero.WIW.card2.location}`
					duration=`${i18n.hero.WIW.card2.duration}`
					description=`${i18n.hero.WIW.card2.description1}`
					description2=`${i18n.hero.WIW.card2.description2}`
					ContainerStyles='md:hover:bg-[#f4eafd]/50'
					textStyles='group-hover:text-[#c38ff1]'
					technologies={[
						{ text: `${i18n.hero.WIW.card2.tech.tech1}`, image: '/svg/wrench.svg' },
						{ text: `${i18n.hero.WIW.card2.tech.tech2}`, image: '/svg/communication.svg' },
						{ text: `${i18n.hero.WIW.card2.tech.tech3}`, image: '/svg/clock.svg' },
						{ text: `${i18n.hero.WIW.card2.tech.tech4}`, image: '/svg/attention.svg' },
					]}
				/>
			</li>
			<li class='mb-10 ms-4'>
				<div
					class='absolute -start-[6.5px] mt-1.5 h-3 w-3 rounded-full border border-white bg-[#ffa84b]'
				>
				</div>
				<ExperienceCard
					phase={null}
					link='https://www.facebook.com/InstitutoNielsBohr'
					target='_blank'
					title=`${i18n.hero.WIW.card3.title}`
					location=`${i18n.hero.WIW.card3.location}`
					duration=`${i18n.hero.WIW.card3.duration}`
					ContainerStyles='md:hover:bg-[#fff0d4]/50'
					textStyles='group-hover:text-[#ffa84b]'
					description=`${i18n.hero.WIW.card3.description1}`
					description2=`${i18n.hero.WIW.card3.description2}`
					technologies={[
						{ text: `${i18n.hero.WIW.card3.tech.tech1}`, image: '/svg/brain.svg' },
						{ text: 'PHP', image: '/svg/php.svg' },
						{ text: 'MySQL', image: '/svg/mysql.svg' },
						{ text: 'JavaScript', image: '/svg/javascript.svg' },
					]}
				/>
			</li>
		</ol>
	</div>
</Container>
