---
import Container from '@/components/common/Container.astro'
import ExternalLinkIcon from '@/components/icons/external.astro'
import Github from '@/components/icons/github.astro'
import AnimatedSection from '@/components/ui/animated-section'
import Pill from '@/components/ui/pill.astro'
import { Image } from 'astro:assets'

interface Technologies {
	text: string
	image: string
}

interface ProjectsCardProps {
	projectImage: string
	externalLink: string
	githubLink: string
	target?: string
	title: string
	subtitle: string
	description: string
	description2?: string
	technologies: Technologies[]
}

const {
	projectImage,
	externalLink,
	githubLink,
	target,
	title,
	subtitle,
	description,
	description2,
	technologies,
} = Astro.props as ProjectsCardProps
---

<section>
	<Container>
		<AnimatedSection client:visible>
			<article
				class='w-full overflow-hidden rounded-lg border-2 border-neutral-100 bg-white text-black shadow-lg'
			>
				<div class='flex flex-col md:flex-row'>
					<div class='w-full md:order-2 md:w-1/2'>
						<div class='h-64 md:h-full'>
							<Image
								src={projectImage}
								alt=`Screenshot of ${title} project`
								class='h-full w-full select-none object-cover'
								width={500}
								height={500}
								server:defer
							/>
						</div>
					</div>
					<div class='w-full space-y-6 p-6 md:order-1 md:w-1/2'>
						<div class='flex items-center justify-start gap-4 pb-4'>
							<h2 class='font-GilroyBold text-3xl font-bold text-[#FFA84B] drop-shadow-sm'>
								{title}
							</h2>
							<div class='flex items-center gap-4'>
								<div class='h-8 w-px bg-neutral-300'></div>
								<div class='flex gap-2'>
									<a
										href={githubLink}
										target={target}
										class='rounded-full p-2 transition-colors hover:bg-neutral-100'
										aria-label="See project's source code on GitHub"
									>
										<Github className='h-5 w-5 text-neutral-600' />
									</a>
									<a
										href={externalLink}
										target={target}
										class='rounded-full p-2 transition-colors hover:bg-neutral-100'
										aria-label='Visit a live demo of the project'
									>
										<ExternalLinkIcon className='h-5 w-5 text-neutral-600' />
									</a>
								</div>
							</div>
						</div>
						<p class='font-GilroySemibold font-medium text-neutral-600'>
							{subtitle}
						</p>
						<p class='font-GilroyRegular text-sm font-normal text-neutral-700'>
							{description}
						</p>
						<p class='font-GilroyRegular text-sm font-normal text-neutral-700'>
							{description2}
						</p>
						<div class='flex flex-wrap gap-2'>
							{
								technologies?.map((tech) => (
									<Pill
										text={tech.text}
										image={tech.image}
										class:list='min-w-[calc(50%-0.5rem)] flex-1 md:min-w-[calc(33%-0.5rem)]'
									/>
								))
							}
						</div>
					</div>
				</div>
			</article>
		</AnimatedSection>
	</Container>
</section>
